
/* Footer section */
footer{
	background: #3d4045;
	padding: 40px 0 0;
	color: #fff;
}
footer a{
	color: #fff;
}
footer a:hover{
	color: #ccc
}
footer .footer-links h3{
	color: #fff;
	font-size: 16px;
	margin: 0 0 40px
}
footer ul{
	padding: 0;
	margin: 0;
	list-style: none
}
footer .footer-links ul.footer-nav{
	margin: 0 0 0 15px;
	list-style-position: outside;
	list-style-type: circle;
}
footer .footer-links ul li a{
	margin-bottom: 10px;
	display: block;
	text-indent: 10px;
	font-size: 13px;
}

footer .footer-links ul.news .news-pic{
	width: 25%;
	margin-right: 5%
}
footer .footer-links ul.news li{
	display: block;
	margin-bottom: 25px;
}
footer .footer-links ul.news li:after{
	content:'';
	display: table;
	clear: both;
}
footer .footer-links ul.news .news-pic img{
	width: 100%;
}
footer .footer-links ul.news .news-info{
	width: 70%;
	font-size: 13px
}

footer .footer-links form input {
	height: auto;
	padding:6px 12px;
}
footer .footer-links .btn-info {
	background: #d70000;
	padding:6px 12px;
	border-color: #d70000;
	width: auto;
	height: auto;
}
footer a.mailto{
	color: #6590ca
}

footer .footer-content{
	background: #242629;
	margin-top: 30px;
	padding: 30px 0;
}
footer .footer-content p{
	color: #6b6c6e;
	font-size: 13px
}
footer .footer-content a{
	display: block;
	float: left;
	background:url(../images/logo-sprite.jpg) 0 0 no-repeat transparent;
}
footer .footer-content a.realnext{
	width:120px;
	height: 40px;
	background-position: 0 0 
}
footer .footer-content a.vastgoedcert{
	width: 160px;
	height: 40px;
	background-position: -120px 0px; 
}
footer .footer-content a.mva{
  width: 60px;
  height: 40px;
  background-position: -280px 0px;
}
footer .footer-content a.nvm{
  width: 60px;
  height: 40px;
  background-position: -340px 0px;
}
