/* GENERIC RULES */
body{
	font-family: @latoFontfamily
}

a:hover{
	text-decoration: none;
}
.btn {
	border-radius: 0;
	text-transform: uppercase;
	padding:10px 20px;
}
.btn-default {
	border: solid 1px @buttonColor;
	color: @buttonColor
}
.btn-default:hover{
	background: @buttonColor;
	color: @inverttextColor;
	border-color:@buttonColor;
}

.form-control{
	padding: 10px 20px;
	border-radius:0;
	height: 50px
}
.contact-form {
	.btn{
		width: 100%;
		height: 50px
	}
	textarea.form-control{
		height: 200px
	}
}


/* CUSTOM FONT FACE */
@font-face {
  font-family: 'ArnoProCaption';
  src: url('../fonts/ArnoProCaption.eot');
  src: url('../fonts/ArnoProCaption.eot?#iefix') format('embedded-opentype'), url('../fonts/ArnoProCaption.woff2') format('woff2'), url('../fonts/ArnoProCaption.woff') format('woff'), url('../fonts/ArnoProCaption.ttf') format('truetype'), url('../fonts/ArnoProCaption.svg#ArnoProCaption') format('svg');
}


/* NAVBAR CUSTOMIZATION */
.navbar-brand{
	height: auto;

	a{
		color: @inverttextColor
	}

	.brand {
		a{
			font-family: 'ArnoProCaption';
			font-size: 31px;
			margin-top: 20px;
			display: block
		}
	}

	.sub-brand {
		text-align: center;
		font-family: 'Lato', sans-serif;
		font-size: 12px;

		a{
			display: inline-block;
			padding: 0 10px;
			letter-spacing: 0.2em;
		}
	}
	.sub-brand:after {
		content: '';
		display: block;
		clear: both;
	}

}

.navbar-scroll {
	.navbar-brand *{
		color: @textColor
	}
}



.navbar-scroll.navbar-default {
	.navbar-nav {
		li {
			a{
				color: @textColor
			}
		}
		.active {
			a,a:hover, a:focus {
				color: @textColor
			}
		}
	}
}
.navbar-nav {
	li {
		a {
			padding:35px 15px 38px;
			border-top: solid 3px transparent;
		}
	} 
} 

.navbar-default {
	.navbar-nav {
		li {
			a:hover{
				border-color: @buttonColor;
			}
		}
		.active {
			a,a:hover, a:focus {
				border-color: @buttonColor;
			}
		}
	}
}

.navbar-default {
	transition: background-color 0.5s ease;
}
.navbar-scroll {
	background-color: @inverttextColor; 
}