/* CAROUSEL CUSTOMIZATION */
.carousel-inner .container{
	position: relative;
}
.glyphicon-chevron-right::before {
    background: rgba(0, 0, 0, 0) url("../images/arrow-right.png") no-repeat scroll 0 0;
    content: "";
    display: block;
    height: 127px;
    width: 34px;
}
.glyphicon-chevron-left::before {
    background: rgba(0, 0, 0, 0) url("../images/arrow-left.png") no-repeat scroll 0 0;
    content: "";
    display: block;
    height: 127px;
    width: 34px;
}
.carousel-caption {
	background-color: rgba(215, 0, 0, 0.86);
    bottom: 180px;
    height: 230px;
    left: 0;
    margin: auto;
    right: inherit;
    width: 750px;
	background-color:rgba(215,0,0 ,0.86);
	text-align: left;
	padding-left: 50px;
	z-index: 0;
	text-transform: uppercase;
}
.carousel-caption h1{
	font-size: 30px;
	line-height: 50px;
}
.carousel-caption h1 p{
	font-size: 46px;
	margin:0
}

/* MARKETING CONTENT */
.marketing {
	color: #3c3c3c;
	text-align: center;
	padding: 0 0 50px 0
}
.marketing h1{
	margin: 60px 0 40px;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
}
.marketing h1:after{
	background: #ce042e none repeat scroll 0 0;
    clear: both;
    content: "";
    display: block;
    height: 3px;
    left: 0;
    margin: 20px auto;
    position: relative;
    right: 0;
    width: 80px;
}
.marketing p{
	margin: 0 0 50px;
	font-size: 20px;
}
.marketing p span{
	color: #ce042e;
	text-transform: uppercase;
}
.marketing h2{
	margin: 30px 0;
	font-size: 20px;
	text-transform: uppercase;
}
.marketing h2 + p {
	font-size: 16px
}

/* CONTACT INFORMATION SECTION */
section.contact-info{
	background-color: #3f3f3f;
	padding: 30px 0
}
section.contact-info p{
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	margin: 0;
	font-size: 24px;
}

section.contact-info .btn-default{
	border-color: #fff;
	background: transparent;
	color: #fff;
	margin-left: 30px;
	font-size: 18px
}

/* GOOGLE MAP */
#map-canvas {
	width: 100%;
	height: 400px;
}

/* Contact Form */
.marketing.contact-form {
	background: #f1f1f1
}
